@import "abstract/var";
@import "abstract/func";
@import "abstract/mixin";

@import "layout/normalize";
@import "layout/base";
@import "layout/anim";

.page-view {
	position: relative;
}

.page-scroll-top {
	width: 2rem;
	height: 2rem;
	opacity: 0.5;
	background: $color-light-1;
	border: 1px solid $color-dark-1;
	transition: opacity 250ms ease-in-out;
	@include fixed($right: 1rem, $bottom: 1rem, $z-index: 2);

	&:hover {
		opacity: 1;
	}

	.fa {
		@include center-parent;
	}
}

.page-header {
	z-index: 3;
	position: relative;

	&--banner {
		&::before {
			padding-bottom: calc-ratio(16, 9);
		}
	}

	&--menu {
		display: flex;
		margin: 2rem 0;
		justify-content: space-between;

		a {
			text-align: center;
			padding: 1.5rem 2rem 1rem;
			width: calc((100% - 4rem) / 3);
			border: 2px solid $color-accent-2;
			transition: all 250ms ease-in-out;

			&:hover {
				background: $color-accent-2;
				box-shadow: 0 0 0.75rem 0.75rem rgba($color-dark-1, 0.05);
			}

			.icon {
				width: 70%;
				margin: 0 auto;
			}

			strong {
				display: block;
				margin-top: 1rem;
				padding-top: 1rem;
				position: relative;
				text-transform: uppercase;

				&:before {
					content: "";
					width: 2rem;
					height: 2px;
					background: $color-brand;
					@include center-parent($dir: hor, $top: 0);
				}
			}
		}
	}
}

.page-footer {
	position: relative;
}

.page-content {
	position: relative;
}

@import "section/event";
@import "section/about";
@import "section/product";
