// FONTS
$font-family-title: "Roboto", sans-serif !default;
$font-family-common: "Roboto", sans-serif !default;
$font-size-base-px: 20 !default;

// COLORS
$color-brand: #fe0709;
$color-accent-1: #fff4ed;
$color-accent-2: #fce5d6;
$color-accent-3: #e8a96b;
$color-accent-4: #2e318f;
$color-light-1: #fff;
$color-light-2: #f8f8f8;
$color-light-3: #f2f2f2;
$color-light-4: #ededed;
$color-light-5: #dadada;
$color-dark-1: #000;
$color-dark-2: #333;
$color-dark-3: #555;
$color-dark-4: #777;
$color-dark-5: #999;
$color-status-critical: #f40;
$color-status-error: #f40;
$color-status-warning: #ffaa15;
$color-status-ok: #00c781;
$color-status-unknown: #ccc;
$color-status-disabled: #ccc;
$color-action-yes: #00c781;
$color-action-no: #f40;

// LAYER
$top-z-index: 9999;
