footer.page-footer
  .container
    .left
      .title
        strong Công ty cổ phần
        strong Gạch ngói Đồng Nai
      ul.contact
        li
          i.fa.fa-map-marker
          span 119 Điện Biên Phủ - Quận 1 - TP.HCM
        li
          i.fa.fa-phone-square
          span (84-28) 38295881 - 38228124
        li
          i.fa.fa-fax
          span (84-28) 38242493 - 39101630
        li
          i.fa.fa-envelope
          span info@tuildonai.com.vn
      ul.social
        li: i.fa.fa-facebook-square
        li: i.fa.fa-youtube
        li: i.fa.fa-linkedin
        li: i.fa.fa-google-plus-square
        li: i.fa.fa-pinterest
    .middle
      ul.license
        li Giấy phép kinh doanh số: 0300397028
        li cấp ngày : 21/03/2006
        li bởi Sở Kế Hoạch và Đầu Tư TP.Hồ Chí Minh cấp
      .logo-trade.lazy-img
        img.fade(data-src="img/logo-trade.png" alt="trade")
    .right
      .video.lazy-vid
        iframe(data-src="https://www.youtube.com/embed/oIYg-AT5nI0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture")