header.page-header
  .page-header--banner.lazy-img(data-scroll-animation="fadeInDown")
    img.fade(data-src="img/banner.jpg" alt="banner")
  .container
    .page-header--menu
      a(href="#event")
        .icon.lazy-img
          img.fade(data-src="img/icon-event.png" alt="event")
        strong Thông tin sự kiện
      a(href="#about")
        .icon.lazy-img
          img.fade(data-src="img/icon-note.png" alt="note")
        strong Giới thiệu
      a(href="#product")
        .icon.lazy-img
          img.fade(data-src="img/icon-calendar.png" alt="calendar")
        strong Danh mục sản phẩm