doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Tuildonai 80 năm hành trình tỏa sáng
    link(rel="shortcut icon" href="img/favicon.ico")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" media="(prefers-reduced-motion: no-preference)")
    link(rel="stylesheet" href="css/style.css")
  body
    .page-view
      a#scroll-top.page-scroll-top(href="#")
        i.fa.fa-angle-double-up
      include _header
      main.page-content
        include _section-event
        include _section-about
        include _section-product
      include _footer
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
    script(src="js/site.js")
